@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color:  #323232;
    background-color: #E5E5E5;
}

/* navbar */
.navbar-solid{
    background-color: #E5E5E5;
}
.nav-link:hover{
    padding-bottom: 0;
    color: #665832 !important;
}
.nav-link::after{
    content: '';
    height: 2px;
    width: 0%;
    background-color: #665832;
    display: block;
    transition: 0.3s ease-in-out;
}
.nav-link:hover::after{
    content: '';
    height: 2px;
    width: 80%;
    background-color: #665832;
    display: block;
}
@media screen and (max-width:992px) {
    .navbar-nav{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #E5E5E5;
        margin-top: 1.8rem;
    }
    .nav-item{
        margin-top: 0.5rem;
    }
}
a:link{
    text-decoration: none;
    color: #000;
}

/* landing */
#home .banner-image {
    background-image: url('images/landing.png');
    background-size: cover;
}
.banner-video {
    background-image: url('images/landing.png');
}

@media screen and (max-width:450px) {
    .banner-image {
        background-image: url('images/landings.png');
        background-size: cover;
    }
    
}

.content-part{
    text-align: center;
    font-family: 'Cormorant Garamond', serif;
    font-size: 7rem;
    font-weight: 400;
    line-height: 7rem;
    color: #323232;
}
@media screen and (max-width: 600px) {
    .content-part{
        font-size: 5rem;
        line-height: 5rem;
    }
}
@media screen and (max-width: 400px) {
    .content-part{
        font-size: 3.5rem;
        line-height: 3.5rem;
    }
}


.body{
    position: relative;
    background-color: #000;
}
.landing_heading{
    font-family: 'Cormorant Garamond', serif;
    color: #aa996b;
    font-size: 4.5rem;
    font-weight: 400;
    /* line-height: 4.5rem; */
    text-align: center;
    padding-top: 2.2rem;
}
@media screen and (max-width: 600px) {
    .landing_heading{
        font-size: 3.3rem;
    }
}
/* what do we do */
#our_work{
    padding-bottom: 3rem;
    
}
.card-content{
    position: absolute;
    top: 65%;
    background-color: #181818;
    color: #fff;
    text-align: center;
    padding: 0.2rem;
    font-family: 'Cormorant Garamond', serif;
    width: 100%;
    z-index: 2;
}
.cardNumber{
    color: #aa996b;
    font-size: 6rem;
    position: absolute;
    right: -47px;
    top: -70px;
    font-family: 'Cinzel', serif;
    font-weight: 300;
}
.container-fluid{
    width: 80%;
}
.card-body{
    padding: 0.5rem;
}
#our_work img{
    z-index: 2;
    height: 20rem;
}
#our_work .card{
    margin-right: 1.3rem;
    margin-left: 1.3rem;
    margin-top: 2.3rem;
}
.course img, .course .card{
    border-radius: 15px;
}
.course .row{
    margin-top: 3rem;
}
.card{
    margin: 1rem 0rem;
    box-shadow: 0 -2px 6px rgba(187, 168, 168, 0.815);
}
#our_work .row{
    margin-top: 2rem;
}

@media screen and (min-width:767px) {
    .card-1{
        position: relative;
        top: 50px;
    }
    .card-3{
        position: relative;
        bottom: 50px;
    }
}


/* about mentor */

.flex1 img{
    height: 20rem;
    margin: auto 0rem auto 4rem;
    border-radius: 10px;
    border: 2px solid #000;
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 3rem 0;
    padding-bottom: 2rem;
}
.flex1, .flex2{
    width: 45%;
}
.flex2{
    color: #fff;
}

/* awards */
#awards .landing_heading{
    padding-top: 1.7rem;
}

.carousel-item img{
    height: 27rem;
}
.carousel-caption h5{
    font-size: 3rem;
    font-weight: 700;
    color: #000;
    text-decoration: underline;
}
button{
    background-color: #F4BBBB;
    border-radius: 7px;
    padding: 0 0.5rem;
    border: 2px solid black;
    margin: 0.5rem 0.4rem 0.5rem 0;
}